<h1> This is all the accounts </h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <a href="/user/<%= user.id %>">
        <%= user.name %>
      </a>
    </li>

  <% end %>

  <h2> These are all the memberships </h2>
     <a href="/membership"> memberships
      </a>

  <h2>New member sign in </h2> 
  <a href="/user"> Add new member </a>   

</ul>

