<h1> These are all the memberships of Ariztos </h1>
<ul>
  <% @memberships.each do |membership| %>
    <li>
      <a href="/membership/<%= membership.id %>">
        <%= membership.name %>
      </a>
    </li>
  <% end %>


<a href="/">
<p>Go back homepage</P>
       </a>
</ul>