<h1><%= @membership.name %></h1>

<p>The price : <%= @membership.price %>€</p>


<p>The duration of the membership : <%= @membership.duration %></p>

<a href="/membership">
       <p>Go back </P>
       </a>